* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.treehouse-video {
  margin: 25px 0;
}
.treehouse-captions p {
  font-size: 16px;
  line-height: 1.6;
}







@media screen and (min-width: 768px) {
  main {
    max-width: 750px;
    margin: 0 auto;
  }
}
